*.py linguist-language=Python
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.ts linguist-vendored
*.html linguist-vendored
/static/* linguist-vendored
/media/* linguist-vendored
/node_modules/* linguist-vendored