{% extends 'layout.html' %}

{% block title %} Posts {% endblock %}

{% block content %}
<h1 style="text-align:center">Posts</h1>
{% if active_tag %}
        <div class="active-tag-banner">
        Filtering by tag: <span class="tag-name">{{ active_tag }}</span>
        <a href="{{ request.path }}" class="clear-filter">(clear)</a>
        </div>
    {% endif %}
<div class="posts">
    {% for post in posts %}
    <article class="post">
        <h2>{{ post.title }}</h2>
        <p> {{ post.date }} | By {{ post.author}}</p>
        <div class="tags-container">
        {% for tag in post.tags.all %}
            <span class="tag"><a href="{{ request.path }}?tag={{ tag }}">{{ tag }}</a></span>
        {% empty %}
            <span class="tag">no tags</span>
        {% endfor %}
        </div>
        <p> {{ post.body|truncatechars:100 }}</p>
        <a href="{% url 'blog:post-detail' post.slug %}">Read More →</a>
    </article>
    {% endfor %}
</div>
{% endblock %}